@model IEnumerable<AWDAdmin.Models.Matricula>


    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aluno.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataMatricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTransacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Aluno.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Curso.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataMatricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Situacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPago)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTransacao)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
