@model AWDAdmin.Models.Matricula

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Matricula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aluno.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aluno.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Curso.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataMatricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataMatricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Situacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdTransacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTransacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
